h1 {
  font-size: 2.0rem;

  display: inline-block;

  margin-top: 15px 0;
  margin-bottom: 0;
}

h2 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;

  color: #f15025;
}

hr {
  width: 80%;
}

.day-detail {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  padding-bottom: 50px;

  text-align: center;

  color: #ffffff;
  background-color: #2c2c2c;
}

.date {
  margin-top: 0;
}

.habits-list {
  width: 80%;
  margin: 20px auto;
  padding: 0;

  list-style: none;
}

.habit {
  position: relative;

  text-align: left;
}

.habit-title {
  font-size: 1.2rem;

  display: inline-block;

  width: 70%;
  margin-bottom: 2px;
}

.no-streak {
  color: #666666 !important;
}

.completed-streak {
  margin: 0;

  color: #f15025;
}

.no-habits-message {
  font-size: 2.0rem;

  display: inline-block;

  width: 100%;

  text-align: center;
}

.status-button {
  font-size: 1.0rem;

  position: absolute;
  top: 50%;
  right: 0;

  width: 60px;
  height: 25px;
  margin-top: -12.5px;

  color: #ffffff;
  border: 0;
  border-radius: 5px;
  background-color: #f15025;

  -webkit-appearance: none;
}

.status-button:hover {
  cursor: pointer;

  background-color: #f29a82;
}

.done {
  color: #4c4c4c;
}

.habit-rule {
  width: 100%;
}

.hidden {
  display: none;
}

@media (min-width: 576px) {
  h1 {
    font-size: 3.0rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .habit-title {
    font-size: 2.0rem;
  }
  .status-button {
    font-size: 1.5rem;

    width: 80px;
    height: 40px;
    margin-top: -20px;
  }
}
