.form-container {
  font-family: Verdana, Geneva, sans-serif;

  box-sizing: border-box;
  padding: 15px;

  color: #ffffff;
  border: 1px solid #191919;
  background-color: #2c2c2c;
}

.form-container p {
  margin: 15px 0;
}

.form-container input[type='text'], .form-container input[type='password'], .form-container input[type='email'] {
  font-size: inherit;

  padding-left: 10px;

  border: 0;
  border-radius: 5px;
}

.submit-button {
  float: right;

  margin-top: 10px;

  color: #ffffff;
  border: 0;
  background-color: #f15025;

  -webkit-appearance: none;
}

.submit-button:hover {
  cursor: pointer;

  background-color: #f29a82;
}
