.login-header {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;

  margin: 0;

  text-align: center;
}

hr {
  border-color: #f15025;
}

.login-menu {
  font-size: 1.0rem;

  width: 280px;
  height: 300px;
  margin-top: 50px;
}

.logo {
  display: block;

  margin: auto;
  margin-top: 10px;
}

.login-menu input[type='text'], .login-menu input[type='password'] {
  width: 230px;
  height: 30px;
}

.submit-button {
  font-size: 1.2rem;

  width: 90px;
  height: 30px;

  color: #ffffff;
  background-color: #f15025;
}

.error-message {
  font-size: 0.8rem;

  width: 55%;

  text-align: center;

  color: #ce0101;
}

@media (min-width: 576px) {
  .login-menu {
    font-size: 1.2rem;

    width: 350px;
    height: 320px;
  }
  
  .login-menu input[type='text'], .login-menu input[type='password'] {
    width: 300px;
  }
}
