.add-menu {
  font-size: 1.2rem;

  position: fixed;
  top: 50%;
  left: 50%;

  width: 320px;
  height: 300px;
  margin-top: -150px;
  margin-left: -160px;

  color: #ffffff;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;

  width: 30px;
  height: 30px;

  color: #ffffff;
  border-bottom: 1px solid #191919;
  border-left: 1px solid #191919;
  background-color: #f15025;

  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.add-menu input[type='text'] {
  width: 280px;
  height: 30px;
}

.add-menu input[type='checkbox'] {
  display: none;
}

.days-list {
  display: flex;

  padding: 0;

  text-align: center;

  justify-content: center;
}

.day-item {
  font-size: 0.9rem;
  line-height: 40px;

  display: inline-block;

  box-sizing: border-box;
  width: 40px;
  height: 40px;
  margin: 0 1px;
  padding: 2px;

  text-align: center;

  color: #ffffff;
  border: 1px solid #191919;
  border-radius: 3px;
  background-color: #f15025;
}

.day-item:hover, .close-button:hover {
  cursor: pointer;

  background-color: #f29a82;
}

.selected {
  color: #191919;
  background-color: #ffcfc1;
}

.error-message {
  font-size: 0.8rem;

  position: absolute;

  color: #ff0000;
}

.submit-button {
  font-size: 1.2rem;

  width: 100px;
  height: 30px;
}

table {
  width: 95%;
  margin: 10px auto;

  border-collapse: collapse;

  text-align: center;
}

td, th {
  padding: 5px;

  border-bottom: 1px solid #777777;
}

th {
  font-size: 1.5rem;

  text-decoration: underline;

  color: #f15025 !important;
}

.add-cell {
  color: #ffffff;
  border: 0;
  background-color: #307a3a;
}

.add-cell:hover {
  background-color: #51935A;
}

.data-cell {
  color: #ffffff;
  background-color: #2c2c2c;
}

.habit-cell {
  border-right: 1px solid #777777;
}

.remove-cell {
  padding: 0;

  background-color: #f15025;
}

.remove-cell:hover {
  background-color: #f29a82;
}

.remove-button {
  font-size: 1.1rem;
  font-weight: bold;

  width: 100%;
  height: 28px;

  color: #ffffff;;
  border: 0;
  background-color: inherit;

  align-items: center;
  justify-content: center;
}

.remove-button:hover, .add-cell:hover {
  cursor: pointer;
}

@media (min-width: 576px) {
  td {
    font-size: 1.5rem;
  }

  th {
    font-size: 2.0rem;
  }
}
