.signup-header {
  text-align: center;
  margin: 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

hr {
  border-color: #F15025;
}

.signup-menu {
  margin-top: 50px;
  width: 270px;
  height: 360px;
  font-size: 1.0rem;
}

.signup-menu p {
  margin: 5px 0;
}

.logo {
  display: block;
  margin: auto;
}

.signup-menu input[type="text"], .signup-menu input[type="password"], .signup-menu input[type="email"] {
  width: 200px;
  height: 25px;
}

.submit-button {
  width: 80px;
  height: 30px;
  font-size: 1.2rem;
}

.error-message {
  text-align: center;
  color: #CE0101;
  width: 55%;
  font-size: 0.8rem;
}

@media (min-width: 576px) {
  .signup-menu {
    width: 350px;
    height: 470px;
    font-size: 1.2rem;
  }
  .signup-menu p {
    margin: 15px 0;
  }
  .signup-menu input[type="text"], .signup-menu input[type="password"], .signup-menu input[type="email"] {
    width: 300px;
  }
}