{% extends 'root.html' %}

{% block content %}
<table>
  <thead>
    <tr>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
  </thead>
  <tbody>
      {% for habit in habit_details %}
      <tr>
        {% if 'mon' in habit.2 %}
        <td>{{habit.1}}</td>
        {% else %}
        <td></td>
        {% endif %}
        {% if 'tue' in habit.2 %}
        <td>{{habit.1}}</td>
        {% else %}
        <td></td>
        {% endif %}
        {% if 'wed' in habit.2 %}
        <td>{{habit.1}}</td>
        {% else %}
        <td></td>
        {% endif %}
        {% if 'thu' in habit.2 %}
        <td>{{habit.1}}</td>
        {% else %}
        <td></td>
        {% endif %}
        {% if 'fri' in habit.2 %}
        <td>{{habit.1}}</td>
        {% else %}
        <td></td>
        {% endif %}
        {% if 'sat' in habit.2 %}
        <td>{{habit.1}}</td>
        {% else %}
        <td></td>
        {% endif %}
        {% if 'sun' in habit.2 %}
        <td>{{habit.1}}</td>
        {% else %}
        <td></td>
        {% endif %}
        <td>
          <form method="POST" action="{% url 'manage' %}">
            {% csrf_token %}
            <input type="hidden" name="remove" value="{{habit.0}}" />
            <input type="submit" name="submit" value="X" />
          </form>
        </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
<div>
  <form method="POST" action="{% url 'manage' %}">
    {% csrf_token %}
    <p>
      {{error}}
    </p>
    <p>
      <label for="habit">Habit Name:</label>
      <input id="habit" type="text" name="habit" />
    </p>
    <ul>
      <li>
        <label for="mon">MON</label>
        <input id="mon" type="checkbox" name="days" value="mon" />
      </li>
      <li>
        <label for="tue">TUE</label>
        <input id="tue" type="checkbox" name="days" value="tue" />
      </li>
      <li>
        <label for="wed">WED</label>
        <input id="wed" type="checkbox" name="days" value="wed" />
      </li>
      <li>
        <label for="thu">THU</label>
        <input id="thu" type="checkbox" name="days" value="thu" />
      </li>
      <li>
        <label for="fri">FRI</label>
        <input id="fri" type="checkbox" name="days" value="fri" />
      </li>
      <li>
        <label for="sat">SAT</label>
        <input id="sat" type="checkbox" name="days" value="sat" />
      </li>
      <li>
        <label for="sun">SUN</label>
        <input id="sun" type="checkbox" name="days" value="sun" />
      </li>
    </ul>
    <p>
      <input type="submit" name="submit" value="Add Habit" />
    </p>
  </form>
</div>
{% endblock %}