{% extends 'root.html' %}
{% load staticfiles %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/manage.css' %}" />
{% endblock %}

{% block content %}
<table>
  <thead>
    <tr>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
  </thead>
  <tbody>
      {% for habit_detail in habit_details %}
      <tr>
        {% if 'mon' in habit_detail.days %}
        <td>{{habit_detail.habit}}</td>
        {% else %}
        <td></td>
        {% endif %}
        {% if 'tue' in habit_detail.days %}
        <td>{{habit_detail.habit}}</td>
        {% else %}
        <td></td>
        {% endif %}
        {% if 'wed' in habit_detail.days %}
        <td>{{habit_detail.habit}}</td>
        {% else %}
        <td></td>
        {% endif %}
        {% if 'thu' in habit_detail.days %}
        <td>{{habit_detail.habit}}</td>
        {% else %}
        <td></td>
        {% endif %}
        {% if 'fri' in habit_detail.days %}
        <td>{{habit_detail.habit}}</td>
        {% else %}
        <td></td>
        {% endif %}
        {% if 'sat' in habit_detail.days %}
        <td>{{habit_detail.habit}}</td>
        {% else %}
        <td></td>
        {% endif %}
        {% if 'sun' in habit_detail.days %}
        <td>{{habit_detail.habit}}</td>
        {% else %}
        <td></td>
        {% endif %}
        <td>
          <form method="POST" action="{% url 'manage' %}">
            {% csrf_token %}
            <input type="hidden" name="remove" value="{{habit_detail.id}}" />
            <input type="submit" name="submit" value="X" />
          </form>
        </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
<div class="form-container add-menu">
  <div class="close-button">
    x
  </div>
  <form method="POST" action="{% url 'manage' %}">
    {% csrf_token %}
    <p>
      <label for="habit">Habit Title:</label>
    </p>
    <p>
      <input id="habit" type="text" name="habit" value="{{habit}}" placeholder="i.e. Study, Exercise" />
    </p>
    <p>
      Days:
    </p>
    <div class="days-list">
        <label class="day-item" for="mon">MON</label>
        <input id="mon" type="checkbox" name="days" value="mon" />
        <label class="day-item"  for="tue">TUE</label>
        <input id="tue" type="checkbox" name="days" value="tue" />
        <label class="day-item"  for="wed">WED</label>
        <input id="wed" type="checkbox" name="days" value="wed" />
        <label class="day-item"  for="thu">THU</label>
        <input id="thu" type="checkbox" name="days" value="thu" />
        <label class="day-item"  for="fri">FRI</label>
        <input id="fri" type="checkbox" name="days" value="fri" />
        <label class="day-item"  for="sat">SAT</label>
        <input id="sat" type="checkbox" name="days" value="sat" />
        <label class="day-item"  for="sun">SUN</label>
        <input id="sun" type="checkbox" name="days" value="sun" />
    </div>
    <p>
      <input class="submit-button" type="submit" name="submit" value="Add" />
    </p>
  </form>
  <p class="error-message">
    {{error}}
  </p>
</div>
{% endblock %}