<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <title>HabitBuilder</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/root.css' %}" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
  </head>
  <body>
    <nav class="nav-bar">
      <div class="header">
        <a href="{% url 'signup' %}"><img class="logo" src="{% static 'hb-logo.png' %}" /></a>
        <span class="title">HabitBuilder</span>
      </div>
      {% if user.is_authenticated %}
      <div class="nav-list">
        <div class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">Habits</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="{% url 'manage' %}">Manage</a>
        </div>
        <div class="nav-item last-nav-item">
          <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <input class="nav-link" type="submit" value="Logout">
          </form>
        </div>
      </div>
      {% else %}
      <div class="nav-list last-nav-item">
        <div class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </div>
      </div>
      {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>